@media only screen and (max-width: 576px) {
    .details-container{
        display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .product-details{
        text-align: center;
        order: 2;
        padding: 10px;
       margin: 0px 10px;
        width: auto;
        border: 2px solid gainsboro;
        border-radius: 5px;
        
    }
    .img-container{
        order: 1;
        padding: 15px 0px;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    

}